body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.post {
    border: 1px solid black;
    width: 50vw;
    min-height: 30vh;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.post-image{
    width: 100%;
    height: auto;
}